/* ===== LAYOUT ===== */
.adminLayout {
  display: flex;
  min-height: 100vh;
  
  background: #f4f6f9;
  @media (max-width: 768px) {
    width: 100%;
  background: none;

  }
}

/* ===== MOBILE HEADER ===== */
.mobileHeader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: #111827;
  color: #fff;
  align-items: center;
  padding: 0 15px;
  z-index: 1000;

  span {
    margin-left: 15px;
    font-weight: 600;
  }
}

.menuBtn {
  background: none;
  border: none;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  background: #111827;
  color: #fff;
  padding: 20px;
  transition: transform 0.3s ease;

  h2 {
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #374151;
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 12px 15px;
      margin-bottom: 10px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #1f2937;
      }
    }
  }
}

.active {
  background: #2563eb;
}

/* ===== CONTENT ===== */
.content {
  flex: 1;
  padding: 0px;
  // margin-left: 40px;

  h1 {
    color: #111827;
  }
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {
  .mobileHeader {
    display: flex;
  }

  .sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    height: calc(100vh - 55px);
    transform: translateX(-100%);
    z-index: 999;
  }

  .open {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
    padding-top: 75px;
  }
}

/* ===== POPUP ===== */
.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 6px;
}
